<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/cache 
        http://www.springframework.org/schema/cache/spring-cache.xsd">

	<!-- Message Source -->
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
      		<list>
        		<value>classpath:niulbird-messages</value>
      		</list>
    	</property>
    </bean>
    
    <!-- Theme Change Interceptor and Resolver definition -->
	<bean id="themeSource"
		class="org.springframework.ui.context.support.ResourceBundleThemeSource">
			<property name="basenamePrefix" value="theme-" />
	</bean>
	<bean id="themeChangeInterceptor" class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
    	<property name="paramName" value="theme" />
	</bean>
	<bean id="themeResolver" class="org.springframework.web.servlet.theme.CookieThemeResolver">
    	<property name="defaultThemeName" value="default" />
	</bean>
    
  	<context:property-placeholder location="classpath:global.properties"/>
 	
    <!-- Spring Mail configuration -->
 	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    	<property name="host" value="${mail.smtp.host}" />
    	<property name="port" value="${mail.smtp.port}" />
    	<property name="username" value="${mail.smtp.user}" />
    	<property name="password" value="${mail.smtp.pass}" />
    	<property name="javaMailProperties">
        	<props>
            	<!-- Use SMTP-AUTH to authenticate to SMTP server -->
            	<prop key="mail.smtp.auth">true</prop>
            	<!-- Use TLS to encrypt communication with SMTP server -->
            	<prop key="mail.smtp.starttls.enable">true</prop>
        	</props>
    	</property>
	</bean>
	
	<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="to">
        	<value><![CDATA[${email.toName} <${email.toEmail}>]]></value>
    	</property>
		<property name="from">
        	<value><![CDATA[${email.fromName} <${email.fromEmail}>]]></value>
    	</property>
        <property name="subject" value="${email.subject}"/>
    </bean>
</beans>